[submodule "OneDrive/Desktop/foundersAndCoders/chatBot/OneDrive/Desktop/foundersAndCoders/chatBot/DiscordBot-Tajah-Emil"]
	path = OneDrive/Desktop/foundersAndCoders/chatBot/OneDrive/Desktop/foundersAndCoders/chatBot/DiscordBot-Tajah-Emil
	url = https://github.com/fac30/DiscordBot-Tajah-Emil.git
